# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build folders
[Bb]in/
[Oo]bj/
bin/
obj/

# Rider
.idea/

# VS Code
.vscode/

# NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json

# Publish output
publish/

# Resharper
_ReSharper*/
*.DotSettings.user

# OS files
.DS_Store
Thumbs.db

# User secrets / local env
secrets.json
.env
.env.*

# MAUI artifacts
*.db
*.sqlite
*.apk
*.aab
*.ipa
